<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JoinForm</title>
</head>
<body>

<!-- spring security는 기본적으로 CSRF 보호를 기본적으로 활성화함
폼 내부에 CSRF 토큰 추가
--but--
th:action="@{/joinProc}"을(thymleaf방식) 이용한다면
Spring Security의 CSRF 요구사항이 충족되어 요청이 정상적으로 처리됩니다.
-->
<h3>JOIN FORM</h3>
<form th:action="@{/joinProc}" method="post" name="joinForm">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <input type="text" name="username" placeholder="ID"/><br>
    <input type="password" name="password" placeholder="PW"/><br>
    <input type="submit" value="JOIN"/>
</form>

</body>
</html>